.home {
    position:relative;

    &__background {
        position: absolute;
        z-index: 1;

        img {
            width: 100vw;
        }
    }

    &__presentation {
        position: absolute;
        z-index: 2;
        color: white;
        top: 25vh;
        left: 7%;

        p {
            font-size: 50px;
            line-height: 2em;
        }

        strong {
            font-size: 50px;
            line-height: 2em;
            color: #0f1120;
        }
    }
}